docs/文章原始資料/*
docs/開發文本資料/hideInfo.md
docs/斷詞編撰/original_file/*
docs/backup/*
docs/vector_all.json
docs/images/*
static/images/new_wordCloud/*
static/images/wordCloud/*
docs/jf-openhuninn-2.0.ttf
.tmp.driveupload
*.env
post.ipynb